.site-header {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .logo-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.site-header .logo-author a {
  text-decoration: none;
}

.site-header .logo-author .logo-img {
  height: 54px;
  width: 54px;
}

.site-header .logo-author .name-author {
  font-family: 'Mistral', sans-serif;
  color: black;
  margin: 0 0 0 20px;
  font-size: 55px;
}

.site-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .menu a {
  text-decoration: none;
  color: #999999;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.site-header .menu a:hover {
  font-weight: 700;
  color: black;
}

.site-header .menu li {
  display: inline;
  margin-right: 30px;
  margin-left: 15px;
  font-size: 16px;
}

.site-header .menu .last {
  margin: 0 10px 0 0;
}

.site-header .menu .send-email {
  height: 54px;
  width: 54px;
  opacity: 0.5;
}

.site-header .menu .send-email:hover {
  opacity: 1;
}

.main-block {
  margin: 0 auto;
  max-width: 2000px;
  height: 693px;
  background: url(../img/bg-main1.jpg);
  background-size: 100% 100%;
}

.main-block .title {
  width: 1030px;
  max-height: 250px;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.main-block .title h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin: 0;
  letter-spacing: 0;
  word-spacing: -10px;
}

.main-block .title .Pacifico-text {
  position: relative;
  margin: 0;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  top: 95px;
  left: 150px;
}

.main-block .title .high-headline {
  font-size: 150px;
  letter-spacing: -4px;
  font-weight: bold;
  color: #FF0000;
}

.main-block .device-photo {
  width: 820px;
  height: 450px;
  margin: 0 auto;
  position: relative;
}

.main-block .device-photo .device1 {
  height: 370px;
  position: absolute;
  top: 125px;
  left: -10px;
  z-index: 1;
}

.main-block .device-photo .device2 {
  height: 350px;
  position: absolute;
  top: 175px;
  left: 290px;
  z-index: 3;
}

.main-block .device-photo .device3 {
  height: 500px;
  width: 400px;
  position: absolute;
  top: 30px;
  left: 400px;
  z-index: 2;
}

.latest-work {
  background-color: #f2f2d2;
  margin: 0 auto;
  max-width: 2000px;
  height: 1030px;
  z-index: 4;
  position: relative;
  background: url(../img/bg-main2.jpg);
  background-size: 100% 100%;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.latest-work .title {
  width: 530px;
  max-height: 250px;
  margin: 0 auto;
  bottom: 50px;
  padding: 20px 0 0 0;
}

.latest-work .title h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin: 0;
  letter-spacing: 0;
  word-spacing: -10px;
}

.latest-work .title .Pacifico-text {
  position: relative;
  margin: 0;
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  top: 75px;
  left: 60px;
}

.latest-work .title .high-headline {
  font-size: 130px;
  letter-spacing: -4px;
  font-weight: bold;
}

.latest-work .latest-work-content {
  margin: 50px auto 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 965px;
  max-width: 1175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-work .latest-work-content .descriptions-left {
  max-height: 300px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 50px 0;
}

.latest-work .latest-work-content .descriptions-left h2 {
  font-size: 22px;
  margin: 0;
  padding-bottom: 10px;
}

.latest-work .latest-work-content .descriptions-left .lorem-text {
  font-family: Arial;
  font-size: 15px;
  line-height: 25.8px;
  letter-spacing: 0.22px;
  color: #A5A4A8;
  margin-top: 18px;
}

.latest-work .latest-work-content .descriptions-left .category .fa-list {
  width: 18px;
}

.latest-work .latest-work-content .descriptions-left .category .left-icon {
  padding-right: 9px;
}

.latest-work .latest-work-content .descriptions-left .category p {
  margin-top: 13px;
  font-weight: 600;
}

.latest-work .latest-work-content .ihpone5v2 {
  height: 500px;
  width: 270px;
  position: relative;
  right: 28px;
}

.latest-work .latest-work-content .descriptions-right {
  margin-right: 65px;
  padding-bottom: 85px;
}

.latest-work .latest-work-content .descriptions-right h2 {
  margin: 0 0 35px 0;
  font-size: 22px;
}

.latest-work .latest-work-content .descriptions-right h3 {
  margin: 0;
  font-size: 16px;
}

.latest-work .latest-work-content .descriptions-right .table {
  color: white;
  margin-bottom: 60px;
}

.latest-work .latest-work-content .descriptions-right th {
  background: #635F6D;
  padding: 20px 0;
  width: 100px;
  height: 87px;
}

.latest-work .latest-work-content .descriptions-right th p {
  margin: 0;
  font-size: 14px;
}

.latest-work .latest-work-content .descriptions-right .i-icon-right {
  font-size: 50px;
  padding-bottom: 15px;
}

.latest-work .latest-work-content .descriptions-right .table-icon1 {
  border-radius: 10px 0 0 10px;
}

.latest-work .latest-work-content .descriptions-right .table-icon3 {
  border-radius: 0 10px 10px 0;
}

.latest-work .choose-menu-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px 25px 0 0;
  font-family: 'Montserrat', sans-serif;
}

.latest-work .choose-menu-work .number-work {
  background: url(../img/number-work.png);
  background-size: 100% 100%;
  height: 80px;
  width: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 23px;
  font-weight: bold;
}

.latest-work .choose-menu-work .number-work span {
  font-size: 14px;
  vertical-align: 5px;
}

.latest-work .choose-menu-work .btn, .latest-work .choose-menu-work .btn2 {
  background: no-repeat url(../img/btn1.png);
  background-size: 100% 100%;
  border: none;
  width: 200px;
  max-width: 200px;
  min-width: 100px;
  height: 55px;
  opacity: 1;
  outline: none;
  font-weight: 600;
  font-size: 15px;
}

.latest-work .choose-menu-work .btn2 {
  background: no-repeat url(../img/btn2.png);
  background-size: 100% 100%;
}

.latest-work .choose-menu-work .btn:hover, .latest-work .choose-menu-work .btn2:hover {
  opacity: 0.9;
}

.latest-work .choose-menu-work .btn:active, .latest-work .choose-menu-work .btn2:active {
  opacity: 0.6;
}

.how-we-work {
  margin: 0 auto;
  max-width: 2000px;
  height: 931px;
  background: no-repeat url(../img/bg-main3.jpg);
  background-position: bottom;
  background-size: 100%;
}

.how-we-work .wrapper {
  width: 1200px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "stages1 stages2 stages3" "btn btn btn";
  grid-gap: 10px;
  height: 805px;
  margin: 0 auto;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.how-we-work #header {
  padding: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  font-family: 'Oswald', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-we-work #header h1 {
  margin: 50px 0 0 0;
  color: #FF0000;
  font-size: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
}

.how-we-work #header h1 span {
  padding: 7px 0 0 0;
  color: black;
  font-size: 90px;
}

.how-we-work #header h1 span hr {
  margin: 0;
  width: 100px;
  height: 14px;
  background: black;
  border: none;
}

.how-we-work #stages1, .how-we-work #stages2, .how-we-work #stages3 {
  padding: 25px 0 0 15px;
}

.how-we-work #stages1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: stages1;
}

.how-we-work #stages2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: stages2;
}

.how-we-work #stages3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: stages3;
}

.how-we-work h3 {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}

.how-we-work .work-icon {
  font-size: 30px;
  margin-right: 10px;
}

.how-we-work p {
  margin-top: 27px;
  font-family: Arial;
  line-height: 27px;
}

.how-we-work #btn {
  padding: 20px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: btn;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-we-work #btn button {
  width: 255px;
  height: 50px;
  margin-top: 5px;
  border-radius: 7px;
  background: #FF0000;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 600;
  outline: none;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

.how-we-work #btn button:hover {
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
  opacity: 0.8;
}

.how-we-work #btn button:active {
  opacity: 0.5;
}

.latest-blog-post {
  margin: 0 auto;
  max-width: 2000px;
  height: 1085px;
  background: #3F3B49;
  position: relative;
}

.latest-blog-post .wrapper {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header-title" "card" "input";
  margin: 0 auto;
  -ms-grid-rows: 3fr 7fr 2fr;
      grid-template-rows: 3fr 7fr 2fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.latest-blog-post .wrapper .header {
  width: 710px;
  max-height: 250px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
  padding-top: 90px;
  color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-title;
}

.latest-blog-post .wrapper .header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin: 0;
  letter-spacing: 0;
  word-spacing: -10px;
}

.latest-blog-post .wrapper .header .Pacifico-text {
  position: relative;
  margin: 0;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  top: 65px;
  right: 190px;
}

.latest-blog-post .wrapper .header .high-headline {
  font-size: 120px;
  letter-spacing: -4px;
  font-weight: bold;
}

.latest-blog-post .wrapper .cards {
  width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card;
  overflow: hidden;
}

.latest-blog-post .wrapper .cards .card {
  min-height: 560px;
  min-width: 422px;
  background: #595466;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card;
  margin: 0 10px;
  position: relative;
}

.latest-blog-post .wrapper .cards .card .card-img {
  min-height: 311px;
  min-width: 248px;
  background: #3F3B49;
  background-size: 100% 100%;
  margin: 25px 25px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.latest-blog-post .wrapper .cards .card .card-img .date {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 28px;
}

.latest-blog-post .wrapper .cards .card .card-img .date .day {
  height: 69px;
  width: 89px;
  background: white;
  text-align: center;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-blog-post .wrapper .cards .card .card-img .date .day p {
  color: #595466;
  margin: 0 auto;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.latest-blog-post .wrapper .cards .card .card-img .date .month {
  height: 28px;
  width: 89px;
  background: #3F3B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 5px 5px;
}

.latest-blog-post .wrapper .cards .card .card-img .date .month p {
  color: white;
  margin: 0 auto;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.latest-blog-post .wrapper .cards .user-post {
  margin: 23px 47px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.latest-blog-post .wrapper .cards .user-post .user-name {
  font-size: 12px;
  font-weight: 600;
}

.latest-blog-post .wrapper .cards .user-post .theme {
  margin: 13px 0 0 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
}

.latest-blog-post .wrapper .cards .user-post .read-article {
  font-size: 11px;
  margin: 30px 0 0 0;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-blog-post .wrapper .cards .user-post .read-article p {
  margin: 6px 0 0 0;
  letter-spacing: 0.5px;
}

.latest-blog-post .wrapper .cards .user-post .read-article .fa-angle-right {
  margin: 0 15px 0 7px;
  font-size: 20px;
}

.latest-blog-post .wrapper .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: input;
}
/*# sourceMappingURL=style.css.map */