

.site-header{
 width: 1200px;
 height: 110px;
 margin: 0 auto;   
 display: flex;
 justify-content: space-between;
//  background: #f1f1f1;
 align-items: center;
 


 .logo-author{
    display: flex;
    align-items: center;
    margin-left: 15px;

    a{
        text-decoration:none;
    }
    

    .logo-img{
        height: 54px;
        width: 54px;
    }
    .name-author{
        font-family: 'Mistral', sans-serif;
        color: black;
       margin: 0 0 0 20px;
       font-size: 55px;
        
    }
 }

.menu{
    display: flex;
    align-items: center;
    

a{
    text-decoration:none;
    color: #999999;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
   
    
}
a:hover{
    font-weight: 700;
    color: black;
}

li{
    display: inline;
    margin-right: 30px;
    margin-left: 15px ;
    font-size: 16px;
    
    
}
.last{
    margin: 0 10px 0 0;
}
.send-email{
    height: 54px;
    width: 54px;
    opacity: 0.5;
}
.send-email:hover{
    opacity: 1;
}
}
}


//////////////////////////////////////////////////////////////////////////////////// first section


.main-block{
margin: 0 auto;
max-width: 2000px;
height: 693px;
background: url(../img/bg-main1.jpg);
background-size: 100% 100%;



.title{
    width: 1070px;
    max-height: 250px;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
    h1{
        font-family: 'Oswald', sans-serif;
        font-size: 60px;
        margin: 0;
        letter-spacing: 0;
        word-spacing: -10px;
        
     }
     .Pacifico-text{
         position: relative;
         margin: 0;
         font-size: 60px;
         font-family: 'Pacifico', cursive;
         top: 100px;
         left: 125px;
        
     }
     .high-headline{
         font-size: 150px;
         letter-spacing: -4px;
         font-weight: bold;
         color: #FF0000;
     }
}

.device-photo{
    width: 820px;
    height:450px ;
    margin: 0 auto;
    position: relative;
    

     .device1{
         height: 370px;
         position: absolute;
         top: 110px;
         left: -10px;
         z-index: 1;
     }
     .device2{
        height: 350px;
        position: absolute;
        top: 160px;
        left: 290px;
        z-index: 3;
     }
     .device3{
        height: 500px;
        width: 400px;
        position: absolute;
        top: 15px;
        left: 400px;
        z-index: 2;
     }

}
}
////////////////////////////////////////////////////////////////////
.latest-work{
    background-color: #f2f2d2;
    margin: 0 auto;
    max-width: 2000px;
    height: 500px;
    z-index: 5;
    position: relative;
}