///////////////////////////////////////////// header

.site-header{
 width: 1200px;
 height: 110px;
 margin: 0 auto;   
 display: flex;
 justify-content: space-between;
 align-items: center;
 


 .logo-author{
    display: flex;
    align-items: center;
    margin-left: 15px;

    a{
        text-decoration:none;
    }

    .logo-img{
        height: 54px;
        width: 54px;
    }
    .name-author{
        font-family: 'Mistral', sans-serif;
        color: black;
        margin: 0 0 0 20px;
        font-size: 55px;
        
    }
 }

.menu{
    display: flex;
    align-items: center;
    

a{
    text-decoration:none;
    color: #999999;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
   
    
}
a:hover{
    font-weight: 700;
    color: black;
}

li{
    display: inline;
    margin-right: 30px;
    margin-left: 15px ;
    font-size: 16px;
    
    
}
.last{
    margin: 0 10px 0 0;
}
.send-email{
    height: 54px;
    width: 54px;
    opacity: 0.5;
}
.send-email:hover{
    opacity: 1;
}
}
}


///////////////////////////////////////////// section 1


.main-block{
margin: 0 auto;
max-width: 2000px;
height: 693px;
background: url(../img/bg-main1.jpg);
background-size: 100% 100%;



.title{
    width: 1030px;
    max-height: 250px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    h1{
        font-family: 'Oswald', sans-serif;
        font-size: 60px;
        margin: 0;
        letter-spacing: 0;
        word-spacing: -10px;
        
     }
     .Pacifico-text{
         position: relative;
         margin: 0;
         font-size: 50px;
         font-family: 'Pacifico', cursive;
         top: 95px;
         left: 150px;
        
     }
     .high-headline{
         font-size: 150px;
         letter-spacing: -4px;
         font-weight: bold;
         color: #FF0000;
     }
}

.device-photo{
    width: 820px;
    height:450px ;
    margin: 0 auto;
    position: relative;
    
     .device1{
         height: 370px;
         position: absolute;
         top: 125px;
         left: -10px;
         z-index: 1;
     }
     .device2{
        height: 350px;
        position: absolute;
        top: 175px;
        left: 290px;
        z-index: 3;
     }
     .device3{
        height: 500px;
        width: 400px;
        position: absolute;
        top: 30px;
        left: 400px;
        z-index: 2;
     }

}
}
///////////////////////////////////////////// section 2
.latest-work{
    background-color: #f2f2d2;
    margin: 0 auto;
    max-width: 2000px;
    height: 1030px;
    z-index: 4;
    position: relative;
    background: url(../img/bg-main2.jpg);
    background-size: 100% 100%;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;

    .title{
        width: 530px;
        max-height: 250px;
        margin: 0 auto;
        bottom: 50px;
        padding: 20px 0 0 0;

     h1{
        font-family: 'Oswald', sans-serif;
        font-size: 60px;
        margin: 0;
        letter-spacing: 0;
        word-spacing: -10px;  
        }

     .Pacifico-text{
         position: relative;
         margin: 0;
         font-size: 60px;
         font-family: 'Pacifico', cursive;
         top: 75px;
         left: 60px;
        }
     .high-headline{
         font-size: 130px;
         letter-spacing: -4px;
         font-weight: bold;        
        }
    }


    .latest-work-content{
        margin: 50px auto 0 auto;
        justify-content: space-between;
        min-width: 965px;
        max-width: 1175px;
        display: flex;
        align-items: center;
        


        .descriptions-left{
            max-height:300px ;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            padding: 0 0 50px 0;


            h2{
                font-size: 22px;
                margin: 0;
                padding-bottom: 10px;
                
            }
            .lorem-text{
               
                font-family: Arial;
                font-size: 15px;
                line-height: 25.8px;
                letter-spacing: 0.22px;
                color: #A5A4A8;
                margin-top: 18px;
          
            }
           
            .category{
               
                .fa-list{
                    width: 18px;
                }
                .left-icon{
                    padding-right: 9px;
                }
                p{
                    margin-top: 13px;
                    font-weight: 600;
                }
            }
           
        }

        .ihpone5v2{
            height: 500px;
            width: 270px;
            position: relative;
            right: 28px;
        }


        .descriptions-right{
            margin-right: 65px;
            padding-bottom: 85px;
        

            h2{
                margin: 0 0 35px 0;
                font-size: 22px;
            }
            h3{
                margin: 0;
                font-size: 16px;
            }
        .table{
            color: white;
            margin-bottom: 60px;
        }
        th{
            background: #635F6D;
            padding: 20px 0;
            width: 100px;
            height: 87px;

            p{
                margin:0;
                font-size: 14px;
            }
        }
            .i-icon-right{
            font-size: 50px;
            padding-bottom: 15px;
        }
        .table-icon1{
            border-radius: 10px 0 0 10px;
        }
        .table-icon3{
            border-radius:0 10px 10px 0;
        }
    }
    
    }
    .choose-menu-work{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 45px 25px 0 0;
        font-family: 'Montserrat', sans-serif;
    
        .number-work{
            background: url(../img/number-work.png);
            background-size: 100% 100%;
            height: 80px;
            width: 95px; 
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 23px;
            font-weight: bold;

            span{
                font-size: 14px;
                vertical-align: 5px;
            }
            
        }
       
        .btn, .btn2{
         background: no-repeat url(../img/btn1.png);
         background-size: 100% 100%;
         border: none;
         width: 200px;
         max-width: 200px;
         min-width: 100px;
         height: 55px;
         opacity: 1;
         outline: none;
         font-weight: 600;
         font-size: 15px;
        }
    
        .btn2{
        background: no-repeat url(../img/btn2.png);
        background-size: 100% 100%;
        }
    
        .btn:hover,.btn2:hover{
        opacity: 0.9;
        }
    
        .btn:active, .btn2:active {
        opacity: 0.6;
        }
    
        } 
}



///////////////////////////////////////////// section 3


.how-we-work{
    margin: 0 auto;
    max-width: 2000px;
    height: 931px;
    background: no-repeat url(../img/bg-main3.jpg);
    background-position: bottom;
    background-size: 100% ;


    .wrapper {
        width: 1200px;
        display: grid;
        grid-template-areas: 
        "header header header"
        "stages1 stages2 stages3"
        "btn btn btn";
        grid-gap: 10px;   
        height: 805px;
        margin: 0 auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

      }
        #header{
         padding: 20px;
         grid-area: header;
         font-family: 'Oswald', sans-serif;
         display: flex;
         align-items: center;
         justify-content: center;
         
         
        
        h1{
            margin: 50px 0 0 0;
            color: #FF0000;
            font-size: 120px;
            display: flex;
            vertical-align: middle;
                
            span{
             padding: 7px 0 0 0;
             color: black;
             font-size: 90px;

            hr{
            margin: 0;
            width: 100px;
            height: 14px;
            background: black;
            border: none;
                }
            }
        }

       
         }

         #stages1, #stages2,#stages3{
            padding: 25px 0 0 15px ;
         }
        #stages1{
         grid-area: stages1;
         } 
        #stages2{
         grid-area: stages2;
         }
        #stages3{         
         grid-area: stages3;
         } 
         h3{
            font-size: 23px;
            font-family: 'Montserrat', sans-serif;
        }
        .work-icon{
            font-size: 30px;
            margin-right: 10px;
        }
        p{
            margin-top: 27px;
            font-family: Arial;
            line-height: 27px;
        }
        
         #btn{    
         padding: 20px;
         grid-area: btn;
         display: flex;
         justify-content: center;

            button{
                width: 255px;
                height: 50px;
                margin-top: 5px;
                border-radius: 7px;
                background: #FF0000;
                border: none;
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-size: 19px;
                font-weight: 600;
                outline: none;
                transition: ease all 0.5s;
            }
            button:hover{
                transition: ease all 0.5s;
                opacity: 0.8;
             }
            button:active{
               opacity: 0.5;
            }
            } 
}

///////////////////////////////////////////// section 4

.latest-blog-post{
    margin: 0 auto;
    max-width: 2000px;
    height: 1085px;
    background:#3F3B49;
    position: relative;

    .wrapper{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "header-title"
        "card"
        "input";
        // grid-gap: 10px;   
        margin: 0 auto;
        grid-template-rows: 3fr 7fr 2fr;
        grid-template-columns: 1fr;
        
        .header{
            width: 710px;
            max-height: 250px;
            margin: 0 auto;
            position: relative;
            top: -50px;
            text-align: center;
            padding-top: 90px;
            color: white;
            grid-area: header-title;
            
            h1{
                font-family: 'Oswald', sans-serif;
                font-size: 60px;
                margin: 0;
                letter-spacing: 0;
                word-spacing: -10px;
                
             }
             .Pacifico-text{
                 position: relative;
                 margin: 0;
                 font-size: 50px;
                 font-family: 'Pacifico', cursive;
                 top: 65px;
                 right: 190px;
                
             }
             .high-headline{
                 font-size: 120px;
                 letter-spacing: -4px;
                 font-weight: bold;
                
             }
        }

        .cards{
            width: 1500px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: card;
            overflow: hidden;  

            .card{
                min-height: 560px;
                min-width: 422px;
                background: #595466; 
                grid-area: card;
                margin: 0 10px;
                position: relative;
                
                .card-img{
                    min-height:311px ;
                    min-width: 248px;
                    background: #3F3B49; //no-repeat url(../img/Browser.jpg)  - example
                    background-size: 100% 100%;
                    margin: 25px 25px 0 25px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    

                    .date{flex-direction: column;
                        position: relative;
                        top: 28px;
                    .day{
                        height:69px;
                        width: 89px;
                        background: white;
                        text-align: center;
                        border-radius: 5px 5px 0 0;
                        display: flex;
                        align-items: center;
                                           
                        p{ 
                            color:#595466 ;
                            margin: 0 auto;
                            font-size: 45px;
                            font-weight: bold;
                            font-family: 'Montserrat', sans-serif;
                        }

                     }
                        .month{
                        height:28px;
                        width: 89px;
                        background: #3F3B49;
                        display: flex;
                        align-items: center;
                        border-radius: 0 0 5px 5px ;
                                
                        p{ 
                            color:white ;
                            margin: 0 auto;
                            font-size: 13px;
                            font-weight: bold;
                            font-family: 'Montserrat', sans-serif;
                           }

                       }
                 }
             }

            }
        

        .user-post{
            margin: 23px 47px 0 35px;
            display: flex;
            flex-direction: column;
            color: white;
            font-family: 'Montserrat', sans-serif;

            .user-name{
                font-size: 12px;
                font-weight: 600;
            
            }
            .theme{
                margin: 13px 0 0 0;
                font-size: 17px;
                font-weight: 600;
                line-height: 23px;
                
            }
            .read-article{
                font-size: 11px;
                margin: 30px 0 0 0;
                font-weight: bold;
                display: flex;

                p{
                    margin: 6px 0 0 0;
                    letter-spacing: 0.5px;
                }
                .fa-angle-right{  
                    margin: 0 15px 0 7px;  
                    font-size: 20px;
                }
            }

        }

        }
        .input{
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: input;
            
        }
        
    }
    
}